apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "stroem.fullname" . }}-server
  labels:
    {{- include "stroem.labels" . | nindent 4 }}
data:
  server-config.yaml: |
    {{- toYaml .Values.server.config | nindent 4 }}
