apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "stroem.fullname" . }}-server
  labels:
    {{- include "stroem.labels" . | nindent 4 }}
data:
  server-config.yaml: |
    listen: "0.0.0.0:{{ .Values.server.service.port }}"

    db:
      url: "PLACEHOLDER_DATABASE_URL"

    log_storage:
      local_dir: {{ .Values.server.config.logStorageDir | quote }}

    workspace:
      source_type: folder
      path: /workspace

    worker_token: "PLACEHOLDER_WORKER_TOKEN"
