apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "stroem.fullname" . }}-worker
  labels:
    {{- include "stroem.labels" . | nindent 4 }}
data:
  worker-config.yaml: |
    {{- toYaml .Values.worker.config | nindent 4 }}
